{% extends 'base_generic.html' %}
{% load i18n %}

{% block content %}
  <h1>{% trans 'Title:' %} {{ book.title }}</h1>

  <p>
    <strong>{% trans 'Author:' %}</strong> <a href="">{{ book.author }}</a>
  </p>
  <p>
    <strong>{% trans 'Summary:' %}</strong> <a href="">{{ book.summary }}</a>
  </p>
  <p>
    <strong>{% trans 'ISBN:' %}</strong> <a href="">{{ book.isbn }}</a>
  </p>
  <p>
    <strong>{% trans 'Language:' %}</strong> <a href="">{{ book.language }}</a>
  </p>
  <p>
    <strong>{% trans 'Genre:' %}</strong> <a href="">{{ book.genre.all|join:', ' }}</a>
  </p>
{% endblock %}
